@font-face {
    font-family: "Figtree Regular";
    src: url("/font/Figtree-Regular.woff2");
  }

html, body {
    font-family: "Figtree Regular";
    margin: 0;
}

.caption {
    font-size: 0.5em;
    color: gray;
    text-align: center;
}

.cover-image {
    width: 300px;
    margin: 0 auto;
}

.previous-post {
    float: right;
}
.next-post {
    float: left;
}

#hero p:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: #1bc32c;
}

div.content {
    padding-bottom: 2rem;
}

div.post-links {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    height: 2rem;
    width: 100%;
    margin-top: -50px;
    padding-left: 20%;
    padding-right: 20%;
} 
