{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h3>Työelämän hierarkkisuus on aiheuttanut työpahoinvoinnin pandemian</h3>
        <p>Hallinnan tunteen katoaminen on aiheuttanut mielenterveysongelmien ja työkyvyttömyyden syöksykierteen. Hierarkioiden madaltaminen ja laadukas johtaminen poistaisi mielenterveysongelmia.</p>
      </div>
      <div class="col col-4 item">
        <h3>Työelämän laatu on tärkeämpää kuin pääoma.</h3>
        <p>Pääoma on yliarvostettua. Työ jalostaa pääoman uudeksi pääomaksi, joten työ on vähintään yhtä arvokasta kuin pääoma. Nykymuotoinen malli, jossa pääoma tuottaa ikuiset osinkotulot mutta työ kertapalkan, pitää uudistaa.</p>
      </div>
      <div class="col col-4 item">
        <h3>Työ on yliarvostettua</h3>
        <p>Ikuiseen 37,5 tunnin työviikkon ja täystyöllisyyden tavoitteluun jumiutunut yhteiskunta johtaa yhä laajenevaan työelämän hevonpaskaistumiseen sekä haitalliseen tuotantoon ja ylikulutukseen. Samalla ihmisten odotetaan käyttävän yhä suuremman osan vapaa-ajastaan osaamisen päivittämiseen ja työkyvyn ylläpitoon. Asetelma on muuttunut aivan perverssiksi.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Työelämä ratkaisee vääriä ongelmia</h4>
        <p>Työuralla on helppoa tehdä paljon rahaa ja hankkia mainetta optimoiden somemainonnan algoritmeja tai tehostamalla öljynporausta pilvilaskennalla. On vaikeaa luoda uraa, jossa pelastaa maailma. Työelämän täytyy kehittyä niin, että viheliäisten ongelmien ratkaiseminen on yritysten ja urien kannalta houkuttelevaa.</p>
      </div>
      <div class="col col-4 item">
        <h4>Työelämä pilaa ilmaston ja luonnon</h4>
        <p>Nykyaikaisen työelämän tehostuva toiminta tehostaa myös ympäristön rappeutumista. Niin kauan kuin kasvua ei saada irtikytkettyä ympäristöhaitoista, tehostuvan työelämän
            rakentama talouskasvu lisää ympäristön pahoinvointia.</p>
      </div>
      <div class="col col-4 item">
        <h4>Työelämä heikentää demokraattista yhteiskuntaa</h4>
        <p>Nykyaikainen työelämä on harvainvallan päälle rakennettu instituutio, joka perustuu meritokratian illuusiolle. Työelämä heikentää osallisuuden kokemusta ja opettaa, että päätökset yhteisistä asioista tekee joku muu. Montako epädemokraattista instituutiota aidosti demokraattinen yhteiskunta voi sisältää?</p>
    </div>
    <div class="row gutters">
        <div class="col col-4 item">
          <h4>Työelämä heikentää ihmisoikeuksia</h4>
          <p>Nykyaikainen työelämä ei tue ihmisoikeuksien toteutumista. Nyt ihmisoikeuksistaan ja vapauksistaan saa luopua työsopimuksella. Saako tällä perusteella alistaa vapaata ihmistä ja määrätä muita kansalaisia työelämässä?</p>
        </div>
        <div class="col col-4 item">
          <h4>Työelämä tarvitsee intersektionaalista feminismiä</h4>
          <p>Naisten ja vähemmistöjen osaamisen alihinnoittelu on räikeä todiste työmarkkinoiden epärationaalisuudesta. On aika jättää taakse tunne- ja ideologia- perustainen valkoista heteromiestä suosiva työelämä ja siirtyä rationaaliseen inter- sektionaaliseen feminismiin. Kun rekrytoi ja johtaa intersektionaalinen feminismi edellä, on helppo löytää juuri sopivat henkilöt edullisesti.</p>
        </div>
        <div class="col col-4 item">
          <h4>Työskentelet kohta algoritmille, kun perinteinen organisaatio lentää roskiin.</h4>
          <p>Perinteinen työpaikkaorganisaatio on olemassa lähinnä työn järjestelemistä varten. Pian työn voi kuitenkin optimoida digitaalisen alustan algoritmi, eikä organisaatioita enää tarvita. Alustan rajapinnan yllä hallinnassa olevat insinöörit määräävät, mitä rajapinnan alla olevat tekevät.</p>
      </div>
      <div class="row gutters">
        <div class="col col-4 item">
          <h4>Työperäinen maahanmuuttaja vaihtaa sinunkin vaippasi.</h4>
          <p>Pienenevät ikäluokat ja heikentyvä huoltosuhde luovat valtavan tarpeen työperäiselle maahanmuutolle. Saatavuusharkintaa ei enää tarvita, koska jokaisella alalla tulee olemaan työvoimapula. Jotta sinunkin vaippasi saadaan vielä joskus vaihdettua, pitää kaikki työperäisen maahanmuuton hidasteet poistaa heti.</p>
        </div>
        <div class="col col-4 item">
          <h4>Työ on osa yhteiskuntaa eli osa politiikkaa.</h4>
          <p>Suomessa on tuudittauduttu ajatukseen, että työelämän pelisäännöt ja kehittäminen voidaan jättää pelkästään työmarkkina- järjestöjen vastuulle. Työelämän laadulliset kysymykset on kuitenkin räikeästi laiminlyöty ja valtion täytyy tulla mukaan työelämän aktiiviseksi kehittäjäksi.</p>
        </div>
        <div class="col col-4 item">
          <h4>Työ ei ole Vihreiden ydinosaamista</h4>
          <p>Vihreillä ei ole asiallisesti järjestäytynyttä työmarkkinatoimintaa ja siihen liittyvät linjaukset on siirretty seuraavalle puoluevaltuustokaudelle. On aika miettiä mitä me oikeastaan työltä haluamme ja miten voimme luoda parasta mahdollista työelämää.</p>
      </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
